# Ignore ref files
.DS_Store
.Rproj.user
.Rhistory
.Rprofile
.RData
.RDataTmp
.Ruserdata

# Ignore ref folders
cache/

# Ignore data folders
data/

# Ignore output folders
figures/
outputs/
.quarto/
_freeze/